---
import '@/styles/global.css';
import type {MarkdownHeading} from 'astro';
import {Toc} from '@/components/toc';
import SideBar from '@/components/side-bar/SideBar.astro';
import type {SidebarItem} from '@/interface/sidebar';

interface Props {
  headings: MarkdownHeading[];
  sidebar: SidebarItem[];
}

const {headings, sidebar} = Astro.props;

const toc = (headings ?? []).filter(heading => heading.depth > 1 && heading.depth <= 3);
---

<div class="doc-container">
  <div class="sidebar">
    {sidebar?.length > 0 && <SideBar sidebar={sidebar} />}
  </div>
  <div class="toc-container">
    {toc.length > 0 ? <Toc toc={toc} client:only /> : null}
  </div>
  <div class="content-container">
    <div class="markdown-body">
      <slot />
    </div>
  </div>
</div>

<style>
.doc-container {
  display: grid;
  grid-template-areas: "sidebar content toc";
  grid-template-columns: minmax(0, 2fr) minmax(0, 6fr) minmax(0, 2fr);
  width: 100%;
}
.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 8px 16px;
  height: 100vh;
  overflow-y: auto;
}
.toc-container {
  grid-area: toc;
  position: sticky;
  top: 68px;
  overflow: hidden;
}
.content-container {
  grid-area: content;
}

@media (max-width: 960px) {
  .doc-container {
    display: grid;
    grid-template-areas: "sidebar content ";
    grid-template-columns: 1fr 3fr;
  }
  .toc-container {
    display: none;
  }
  .content-container {
    position: unset;
  }
}
@media (max-width: 480px) {
  .doc-container {
    display: grid;
    grid-template-areas:
      "sidebar toc"
      "content content";

    grid-template-columns: 3fr 1fr;
  }
  .sidebar {
    position: unset;
    height: fit-content;
  }
  .content-container {
    position: unset;
  }
}
</style>
