---
import type {TreeTocNode} from '../../interface';

interface Props {
  node: TreeTocNode;
}

const {node} = Astro.props;
---

<li class="-ml-px flex flex-col items-start gap-2 group">
  <a
    target="_self"
    title={node.text}
    id={node.slug}
    class="toc-li inline-block border-l border-transparent text-base/8 text-gray-600 hover:text-gray-950 hover:border-gray-500 sm:text-sm/6 dark:text-gray-300 dark:hover:text-white aria-[current]:border-gray-950 aria-[current]:font-semibold aria-[current]:text-gray-950 dark:aria-[current]:border-white dark:aria-[current]:text-white pl-5 sm:pl-4 transition-colors duration-200"
    href={`#${node.slug}`}
    style={{paddingLeft: `${node.depth - 1}em`}}
  >
    <span class="font-light group-hover:font-bold relative">
      {node.text}
      <span
        class="absolute -left-5 top-1/2 -translate-y-1/2 w-1 h-4 opacity-0 group-hover:opacity-100 hover:border-gray-500 transition-opacity duration-200"
      ></span>
    </span>
  </a>
  {
    node.children.length > 0 && (
      <ul class="w-full flex flex-col gap-2">
        {node.children.map((child: TreeTocNode) => <Astro.self node={child} />)}
      </ul>
    )
  }
</li>
