---
import { Badge, Icon } from '@astrojs/starlight/components'

const { topics } = Astro.locals.starlightSidebarTopics
---

<ul class="flex gap-[32px] text-[14px] leading-[30px] pt-[12px] font-[500] text-secondary text-center">
  {
    topics.map((topic) => (
      <li>
        <a href={topic.link} class:list={{ 'font-[600] text-primary': topic.isCurrent }}>
          {topic.icon && (
            <div class="starlight-sidebar-topics-icon">
              <Icon name={topic.icon} />
            </div>
          )}
          <div>
            {topic.label}
            {topic.badge && (
              <Badge class="starlight-sidebar-topics-badge" text={topic.badge.text} variant={topic.badge.variant} />
            )}
          </div>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    overflow-wrap: anywhere;
  }

  a:is(.starlight-sidebar-topics-current, :hover, :focus-visible) {
    color: var(--sl-color-accent-high);
  }

  :global([data-theme='light']) a.starlight-sidebar-topics-current {
    color: var(--sl-color-accent);
  }

  .starlight-sidebar-topics-icon {
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--sl-color-gray-4);
    display: flex;
    justify-content: center;
    padding: 0.1875rem;
    padding: 0.25rem;
  }

  a:is(.starlight-sidebar-topics-current, :hover, :focus-visible) .starlight-sidebar-topics-icon {
    background-color: var(--sl-color-text-accent);
    border-color: var(--sl-color-text-accent);
    color: var(--sl-color-text-invert);
  }

  .starlight-sidebar-topics-badge {
    margin-inline-start: 0.25em;
  }
</style>
